@using dotnet_web_mvc.Entity

@model dotnet_web_mvc.Entity.Usertype

<h1>Add new usertype</h1>


<form action="Create" method="post">
    <div class="row">
        <select name="UserType" id="UserType" class="form-control" required>
            @foreach (var userType in ViewData["UserTypes"] as List<Usertype>)
            {
                <option value="@userType.Id">@userType.Name</option>
            }
        </select>

        <input type="text"name="FirstName" class="form-control" placeholder="FirstName">
        <input type="text" name="MiddleName" class="form-control" placeholder="MiddleName">
        <input type="text" name="LastName" class="form-control" placeholder="">
        <input type="text" name="Address" class="form-control" placeholder="">
        <input type="number" name="ZipCode" class="form-control" placeholder="">
        <input type="date" name="Birthday" class="form-control" placeholder="">
        <input type="number" name="Age" class="form-control" placeholder="">
        <input type="text" name="NameOfFather" class="form-control" placeholder="">
        <input type="text" name="NameOfMother" class="form-control" placeholder="">
        <input type="text" name="CivilStatus" class="form-control" placeholder="">
        <input type="text" name="Religion" class="form-control" placeholder="">
        <input type="text" name="Occupation" class="form-control" placeholder="">
    </div>

    <div >
        <input class="btn btn-success" type="submit" value="Add">
    </div>
</form>

