@model List<DinoLoan.Entity.Payment>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../">Loan</a></li>
    <li class="breadcrumb-item active">Add loan</li>
  </ol>
</nav>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Collectables</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var schedDate in Model)
        {
            <tr>
                <td>@schedDate.PaymentId</td>
                <td>@schedDate.Collectable</td>
                <td>@schedDate.Date</td>
                <td>@schedDate.Status</td>
                <td>
                    <a class="btn btn-info" data-bs-toggle="modal" data-bs-target="#addLoanModal">Pay</a>
                </td>
            </tr>
        }
    </tbody>
</table>
