@model List<DinoLoan.Entity.Loan>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../">Loan</a></li>
    <li class="breadcrumb-item active">Add loan</li>
  </ol>
</nav>

<button  class="btn btn-success mb-4 mt-4" data-bs-toggle="modal" data-bs-target="#addLoanModal">Add new loan</button>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>No Payments</th>
            <th>Collected</th>
            <th>Collections</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loanData in Model)
        {
            <tr>
                <td>@loanData.Id</td>
                <td>@loanData.Type</td>
                <td>@loanData.NoOfPayment</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>
                    <a class="btn btn-info" asp-action="Details">Payments</a>
                    <a class="btn btn-warning" asp-action="Update">Update</a>
                    <a class="btn btn-danger" asp-action="Delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
