<div class="modal" id="addLoanModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="addLoan">
                    <div class="row">
                        <input type="hidded" name="ClientId" value="@ViewData["ClientId"]"/>

                        <div class="form-group col-md-6 mt-3">
                            <label>Date loan created</label>
                            <input type="date" class="form-control" name="DateCreated">
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>Loan Type</label>
                            <select class="form-control" name="Type">
                                <option selected disabled>Loan Type</option>
                                <option value="Daily">Daily</option>
                                <option value="Weekly">Weekly</option>
                                <option value="Monthly">Monthly</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>Amount to borrow</label>
                            <input type="number" name="Amount" class="form-control" placeholder="0">
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>Interest</label>
                            <input type="number" name="Interest" class="form-control" placeholder="0">
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>No of payments</label>
                            <input type="number" name="NoOfPayment" class="form-control" placeholder="0">
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>CBU</label>
                            <input type="number" class="form-control" placeholder="0">
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>Insurance</label>
                            <input type="number" class="form-control" placeholder="MiddleName">
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>Other</label>
                            <input type="number" class="form-control" placeholder="LastName">
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>Interested amount</label>
                            <input type="text" class="form-control" placeholder="NameOfFather" disabled>
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>Bring home amount</label>
                            <input type="text" class="form-control" placeholder="NameOfMother" disabled>
                        </div>

                    </div>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>