@model IEnumerable<DinoLoan.Entity.Transaction>

<div id="printableTable">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tData in Model)
            {
                <tr>
                    <th>@tData.Id</th>
                    <td>@tData.Amount</td>
                    <td>@tData.Date.ToString("MMM dd yyyy")</td>
                    <td><button class="btn btn-info" onclick="printTable()">Print</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>