<div class="modal" id="transactionModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="text-center">
                            <th class="col">#</th>
                            <th class="col">Amount</th>
                            <th class="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Test</th>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                    </tbody>
                </table>

                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>