<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Test</th>
            <th>Test</th>
            <th>Test</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>gsgs</td>
            <td>gsgs</td>
            <td>gsgs</td>
        </tr>
    </tbody>
</table>