@model List<DinoLoan.Entity.Loan>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="../">Loan</a></li>
    <li class="breadcrumb-item active">Add loan</li>
  </ol>
</nav>

<button  class="btn btn-success mb-4 mt-4" data-bs-toggle="modal" data-bs-target="#addLoanModal">Add new loan</button>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>No Payments</th>
            <th>Collected</th>
            <th>Collections</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var loanData in Model)
        {
            <tr>
                <td>@loanData.Type</td>
                <td>@loanData.NoOfPayment</td>
                <td></td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>
                    <a class="btn btn-info" asp-action="Details">View</a>
                    <a class="btn btn-warning" asp-action="Update">Update</a>
                    <a class="btn btn-danger" asp-action="Delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal" id="addLoanModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="addLoan">
                    <div class="row">
                        <input type="hidded" name="ClientId" value="@ViewData["ClientId"]"/>

                        <div class="form-group col-md-6 mt-3">
                            <label>Date loan created</label>
                            <input type="date" class="form-control" name="DateCreated">
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>Loan Type</label>
                            <select class="form-control" name="Type">
                                <option selected disabled>Loan Type</option>
                                <option value="Daily">Daily</option>
                                <option value="Weekly">Weekly</option>
                                <option value="Monthly">Monthly</option>
                                <option value="Yearly">Yearly</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>Amount to borrow</label>
                            <input type="number" name="Amount" class="form-control" placeholder="0">
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>Interest</label>
                            <input type="number" name="Interest" class="form-control" placeholder="0">
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>No of payments</label>
                            <input type="number" name="NoOfPayment" class="form-control" placeholder="0">
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>CBU</label>
                            <input type="number" class="form-control" placeholder="0">
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>Insurance</label>
                            <input type="number" class="form-control" placeholder="MiddleName">
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>Other</label>
                            <input type="number" class="form-control" placeholder="LastName">
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>Interested amount</label>
                            <input type="text" class="form-control" placeholder="NameOfFather" disabled>
                        </div>

                        <div class="form-group col-md-6 mt-3">
                            <label>Bring home amount</label>
                            <input type="text" class="form-control" placeholder="NameOfMother" disabled>
                        </div>

                    </div>

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    document.getElementById('addLoan').addEventListener('submit', function(event) {
    event.preventDefault();
    const formData = new FormData(this);
    formData.append('Status', 'None');
    fetch('../../loanapi/createloan', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(() => {
        document.getElementById("addLoan").reset();
        location.reload();
    });
});
</script>